:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.game-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.game-loader label {
  font-size: 18px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 18px;
}

.info>div {
  display: flex;
  flex-direction: row;
}

.info label:first-child {
  display: inline-block;
  width: 80px;
}

.info label:last-child {
  flex-grow: 1;
}

.back {
  border: 2px solid var(--games-color);
  min-width: 80px;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  margin: 2px;
}

.back:hover {
  background-color: var(--games-color);
  color: var(--font-color-light);
}
